/*  
.loading-body-styles {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid rgb(25, 135, 84); 
  border-radius: 50%;
  animation: spin 650ms linear infinite;
  margin-bottom: 15px;

}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  color: rgb(25, 135, 84);
}
*/

.disabled-place-order-btn {
  background-color: rgb(25, 135, 84);
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled-place-order-btn:hover {
  background-color: rgb(25, 135, 84);
}
